.container {
  display: flex;
  justify-content: center;
}
input[type="radio"] {
  margin-top: 0.5rem;
}
input[type="submit"] {
  margin-top: 1rem;
}

.question-fruits {
  margin: 2rem 40px 1rem 40px;
  background-color: rgb(248, 234, 242);
  padding: 2rem;
}
.question-fruits h3 {
  font-weight: 550;
}
